anyio==4.10.0
beautifulsoup4==4.13.5
cachetools==6.2.0
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.2.1
Flask==2.1.3
flask-cors==6.0.1
google==3.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
protobuf==6.30.0
psutil==7.0.0
pyaes==1.6.1
pyasn1==0.6.1
pycryptodome==3.20.0
python-telegram-bot==22.3
requests==2.32.3
rsa==4.9.1
sniffio==1.3.1
soupsieve==2.8
speedtest-cli==2.1.3
Telethon==1.41.2
typing_extensions==4.15.0
urllib3==2.5.0
Werkzeug==2.0.3
